---
import Layout from "../layout/Layout.astro"
---
<Layout>
  <main class="flex items-center justify-center h-[calc(100vh-8rem)] mx-auto font-mona-sans">
  <h2 class="text-9xl font-extrabold [font-stretch:ultra-expanded]">404</h2>
  </main>
</Layout>
