---
import Layout from 'layout/Layout.astro'
---
<Layout>
    <section class='w-full h-full flex flex-col items-start justify-center my-16 px-12 font-mona-sans'>
        <div class=''>
            <h3 class='text-7xl font-bold [font-stretch:ultra-expanded] max-w-lg'>Mi nombre es <span class=''>Braian</span></h3>
            <div class='flex w-full'>
                <div class='w-2/6'>
                    <div class='divider'></div>
                </div>
                <div class='text-sm tracking-wide'>
                    <p class=''>Soy Braian, programador web de Argentina.</p>
                    <p class=''></p>
                </div>
            </div>
        </div>
        <div class=''></div>
    </section>
</Layout>