---
import Layout from 'layout/Layout.astro'

import TechsIcons from '@components/about/TechsIcons.astro'

const frontend = [ 'html5', 'css3', 'javascript', 'react', 'sass' ]
const frameworks = [ 'tailwindcss', 'astro', 'bootstrap' ]
const tools = [ 'visualstudiocode', 'git', 'gnubash', 'linux' ]

const bornDate = new Date('1994-09-08')
const ageDiff = Date.now() - bornDate.getTime()
const ageDate = new Date(ageDiff)
const actualAge = Math.abs(ageDate.getUTCFullYear() - 1970)
---
<Layout>
    <section class='w-full h-full grid grid-cols-2 gap-y-12 items-start justify-between my-16 font-mona-sans'>
        <div class=''>
            <h1 class='text-7xl font-bold [font-stretch:ultra-expanded] max-w-lg mb-16'>Mi nombre es <span class=''>Braian</span></h1>
            <div class='flex w-full gap-x-6'>
                <div class='text-sm tracking-wide max-w-md gap-2 flex flex-col'>
                    <p class=''>Soy un programador web de Argentina.</p>
                    <p class=''>Me mueven las ganas de crear sitios y aplicaciones que, realmente, hagan una diferencia.</p>
                    <p class=''>Mi mayor objetivo es crear experiencias únicas y memorables que logren que los usuarios se enamoren de mis creaciones.</p>
                </div>
            </div>
        </div>
        <div class=''>
            <figure><img src='/profile.webp' alt='profile pic' class='w-96 rounded-lg' /></figure>
        </div>
    </section>
    <section class='w-full h-full grid grid-cols-2 items-start justify-between my-20 font-mona-sans gap-y-12'>
        <div class='flex flex-col gap-y-8'>
            <h2 class='uppercase tracking-widest font-light'>Tecnologías que domino</h2>
            <div class='grid grid-cols-2 gap-y-6'>
                <h3 class='col-span-1 uppercase font-semibold [font-stretch:ultra-expanded]'>Frontend</h3>
                <ul class='flex flex-wrap justify-end gap-1 max-w-[9rem]'>
                    {frontend.map((item) => (
                      <li class='bg-gradient-purple p-2 rounded-full'><TechsIcons Tech={item} IconClass='w-5' /></li>
                    ))}
                </ul>
                <h3 class='col-span-1 uppercase font-semibold [font-stretch:ultra-expanded]'>Frameworks</h3>
                <ul class='flex flex-wrap justify-end gap-1 max-w-[9rem]'>
                    {frameworks.map((item) => (
                      <li class='bg-gradient-purple p-2 rounded-full'><TechsIcons Tech={item} IconClass='w-5' /></li>
                    ))}
                </ul>
                <h3 class='col-span-1 uppercase font-semibold [font-stretch:ultra-expanded]'>Herramientas</h3>
                <ul class='flex flex-wrap justify-end gap-1 max-w-[9rem]'>
                    {tools.map((item) => (
                      <li class='bg-gradient-purple p-2 rounded-full'><TechsIcons Tech={item} IconClass='w-5' /></li>
                    ))}
                </ul>
            </div>
        </div>
        <div class='flex justify-end max-w-md text-subtle'>
            <ol class='relative border-l border-pine'>
                <li class='mb-10 ml-4 bg-iris/5 rounded-md p-3 flex flex-col gap-1 border border-iris/30 shadow-xl'>
                    <div class="absolute w-3 h-3 bg-primary rounded-full mt-1.5 -left-1.5 border border-primary"></div>
                    <time class='mb-1 text-sm font-normal leading-none'>Agosto 2022 → Actualidad</time>
                    <h2 class='text-lg font-black [font-stretch:ultra-expanded] text-text'>↘ NUCBA</h2>
                    <h3 class='text-md font-semibold text-text/80'>Fullstack Developer</h3>
                    <p class='mb-4 text-subtle/80 text-sm font-medium'>En el Bootcamp de Nucba, se aprenden las habilidades más importantes para la programación. Tanto Frontend como Backend.</p>
                </li>
            </ol>
        </div>
    </section>
</Layout>
