---
import Head from '@components/Head.astro'
import Header from '@components/Header.astro';
import Hero from '@components/Hero.astro';
import Contact from '@components/Contact.astro';
---

<!DOCTYPE html>
<html lang='en'>
	<Head />
	<body class="text-[#D0CCE7] bg-[#22242E] scroll-smooth">
        <Header />
        <Hero />
        <Contact />
    </body>
</html>
