---
import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import Hero from '@components/Hero.astro'
import Contact from '@components/Contact.astro'
---

<!DOCTYPE html>
<html lang='en' class='scrollbar-thin scrollbar-thumb-accent scrollbar-track-base-100 scrollbar-thumb-rounded-md'>
	<Head />
	<body class='scroll-smooth'>
		<Header />
		<Hero />
		<Contact />
	</body>
</html>
