---
import 'locomotive-scroll/dist/locomotive-scroll.css'
import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import Hero from '@components/Hero.astro'
import Contact from '@components/Contact.astro'
import Projects from '@components/Projects.astro'
import Footer from '@components/Footer.astro'
import Menu from '@components/Menu.astro'
---

<!DOCTYPE html>
<html
	lang='en'
	class='scrollbar-thin scrollbar-thumb-accent scrollbar-track-base-100 scrollbar-thumb-rounded-md'>
	<Head />
	<body>
		<Menu />
		<div class='flex items-center justify-center fixed right-3 z-[2] top-11' id='menutoggle'>
			<div
				class='group flex h-10 w-10 cursor-pointer items-center justify-center rounded-full bg-accent p-2 hover:bg-[#989AB7]'>
				<div class='space-y-2'>
					<span
						class='block h-1 w-6 origin-center rounded-full bg-neutral transition-transform ease-in-out'
						id='span1'></span>
					<span
						class='block h-1 w-4 origin-center rounded-full bg-primary transition-transform ease-in-out'
						id='span2'></span>
				</div>
			</div>
		</div>
		<div class="" data-scroll-container>
			<Header />
			<Hero />
			<Projects />
			<Contact />
			<Footer />
		</div>
		<script is:inline>
			// ☝️ This script prevent the FART effect.
			if (localStorage.getItem('theme') === null) {
				document.documentElement.setAttribute('data-theme', 'dark')
			} else document.documentElement.setAttribute('data-theme', localStorage.getItem('theme'))
			// "theme" LocalStorage value is set by the package to remember user preference.
			// The value is checked and applyed before rendering anything.
		</script>
		<script>
				import { menuHandler } from '@services/menu'
				menuHandler()
			import { themeChange } from 'theme-change'
			themeChange()
			// 👆 you could import the CDN directly instead of these two lines

			import LocomotiveScroll from 'locomotive-scroll'
			window.addEventListener("load", () => {
			const scroll = new LocomotiveScroll({
				el: document.querySelector("[data-scroll-container]") as HTMLElement,
				smooth: true,
				multiplier: 0.75,
				scrollFromAnywhere: true,
				tablet: {
					breakpoint: 0
				},
			});
			});
			setTimeout(() => {
			scroll.update();
			}, 5000);
		</script>
	</body>
</html>
