---
import Layout from 'layout/Layout.astro'
import Hero from '@components/Hero.astro'
import About from '@components/About.astro'
import Projects from '@components/Projects.astro'
import RecentPostBlog from '@components/RecentPostBlog.astro'
import Repositories from '@components/Repositories.astro'
import Contact from '@components/Contact.astro'
---

<Layout>
	<Hero />
   <div class='relative flex'>
    <div class='flex flex-col w-2/4 h-screen flex-0'>
	    <About />
    </div>
    <div class='
      flex flex-col flex-auto h-screen overflow-y-auto w-2/4
      scrollbar-thin scrollbar-thumb-accent-focus
      scrollbar-thumb-rounded-md scroll-smooth overflow-x-hidden'>
	    <Projects />
      <RecentPostBlog />
    </div>
  </div>
	<!-- <Repositories /> -->
	<Contact />
</Layout>
