---
import Head from '@components/Head.astro'
import Header from '@components/Header.astro';
import Hero from '@components/Hero.astro';
---

<!DOCTYPE html>
<html lang='en'>
	<Head />
	<body class="text-white/90 bg-[#181825]">
        <Header />
        <Hero />
    </body>
</html>
