---
import ResumeLayout from "layout/ResumeLayout.astro";
---
<ResumeLayout>
        <main class='flex items-center justify-center h-[27.9cm] w-[21.6cm] bg-base-content font-mona-sans text-primary' id='main'>
            <article class='flex-col w-full h-full p-16'>
                <div class='flex w-full justify-between items-start'>
                    <div class=''>
                        <h1 class='text-5xl font-black [font-stretch:ultra-expanded] max-w-xs'>LNX MBL</h1>
                    </div>
                    <div class='flex-col max-w-md items-start justify-start'>
                        <h3 class='text-3xl font-bold [font-stretch:ultra-expanded]'>Braian Diez</h3>
                        <p class='pt-4 text-sm font-medium tracking-wide'>Soy un programador apasionado y comprometido con mi trabajo. Me encanta aprender y estoy dispuesto a hacer lo que sea necesario para mejorar mis habilidades y conocimientos. Tengo una sólida formación en el desarrollo frontend y estoy listo para aportar mi conocimiento y habilidades en cualquier proyecto.</p>
                    </div>
                </div>
                <div class='flex items-start mt-8'>
                    <div class='w-1/3 pt-4 text-sm font-medium tracking-wide'>
                        <div class=''>
                            <p class=''>→ 28 años</p>
                            <p class=''>→ Argentina</p>
                            <p class=''>→ Frontend Developer</p>
                        </div>
                        <div class='mt-8'>
                            <h3 class='text-2xl font-bold [font-stretch:ultra-expanded]'>Lenguajes</h3>
                            <div class='divider before:bg-primary after:bg-primary m-0'></div>
                            <div class='font-semibold'>Español <span class='text-primary/60 font-normal'>→ Nativo</span></div>
                            <div class='font-semibold'>Inglés <span class='text-primary/60 font-normal'>→ B1 Intermedio</span></div>
                            <div class='font-semibold min-w-max'>Japonés <span class='text-primary/60 font-normal'>→ A1 Principiante</span></div>
                        </div>
                        <div class='mt-8'>
                            <h3 class='text-2xl font-bold [font-stretch:ultra-expanded]'>Contacto</h3>
                            <div class='divider before:bg-primary after:bg-primary m-0'></div>
                            <ul class=''>
                                <li class='text-primary/60 font-normal [font-stretch:ultra-expanded]'>
                                    Sitio web
                                </li>
                                    <a href='https://linu.dev/'  target='_blank' rel='noopener noreferrer' class='font-semibold text-primary'>↘ www.linu.dev</a>
                                <li class='text-primary/60 font-normal [font-stretch:ultra-expanded] mt-4'>
                                    Email
                                </li>
                                    <a href='mailto:bdiez19@gmail.com'  target='_blank' rel='noopener noreferrer' class='font-semibold text-primary'>↘ linu@dev.com</a>
                                <li class='text-primary/60 font-normal [font-stretch:ultra-expanded] mt-4'>
                                    Github
                                </li>
                                    <a href='https://github.com/linuxmobile'  target='_blank' rel='noopener noreferrer' class='font-semibold text-primary'>↘ linuxmobile</a>
                                <li class='text-primary/60 font-normal [font-stretch:ultra-expanded] mt-4'>
                                    Linkedin
                                </li>
                                    <a href='https://www.linkedin.com/in/braiandiez/'  target='_blank' rel='noopener noreferrer' class='font-semibold text-primary'>↘ Braian A. Diez</a>
                                <li class='text-primary/60 font-normal [font-stretch:ultra-expanded] mt-4'>
                                    Twitter
                                </li>
                                    <a href='https://twitter.com/linuxmobileok'  target='_blank' rel='noopener noreferrer' class='font-semibold text-primary'>↘ linuxmobileok</a>
                            </ul>
                        </div>
                    </div>
                    <div class='w-1/3 pt-4 text-sm font-medium tracking-wide'>
                        <div class='flex-col w-full pl-14'>
                            <p class='text-xs text-primary/60 font-medium tracking-wide mt-24'>2021 → Ahora</p>
                            <p class='text-xs text-primary/60 font-medium tracking-wide mt-24'>2022</p>
                        </div>
                    </div>
                    <div class='w-2/3 pt-4 text-sm font-medium tracking-wide'>
                        <div class=''>
                            <h3 class='text-3xl font-bold [font-stretch:ultra-expanded]'>Proyectos & Experiencias</h3>
                            <div class='divider before:bg-primary after:bg-primary m-0'></div>
                        </div>
                        <div class='mt-8'>
                            <h3 class='text-3xl font-bold [font-stretch:ultra-expanded]'>Educación</h3>
                            <div class='divider before:bg-primary after:bg-primary m-0'></div>
                            <div class='mt-4'>
                                <a class='font-bold [font-stretch:ultra-expanded]'>NUCBA</a>
                                <p class='text-xs text-primary/60 font-medium tracking-wide'>Stack MERN (frontend & backend)</p>
                            </div>
                        </div>
                        <div class=''></div>
                    </div>
                </div>
            </article>
        </main>
</ResumeLayout>

<script>
    const main = document.getElementById('main')

    function printPageArea(main) {
        let printContent = document.getElementById('main').innerHTML
        let originalContent = document.documentElement.outerHTML
        document.body.innerHTML = printContent
        window.print()
        setTimeout(function () {
            document.documentElement.outerHTML = originalContent
        }, 500)
    }

    main.addEventListener('click', () => {
        // printPageArea(main)
        window.print()
    })
</script>
