---
import Success from './svgIcons/Success.astro';
import Info from './svgIcons/Info.astro';
import Warning from './svgIcons/Warning.astro';
import Error from './svgIcons/Error.astro';

const { Message, AlertType } = Astro.props

---
<div class={`alert alert-${AlertType} shadow-lg`}>
  <div>
    {AlertType === 'success' && <Success />}
    {AlertType === 'info' && <Info />}
    {AlertType === 'warning' && <Warning />}
    {AlertType === 'error' && <Error />}
    <span class='text-sm font-medium text-gray-900'>{Message}</span>
  </div>
</div>

