---
const { Title } = Astro.props
---
<div class="collapse collapse-arrow rounded-box my-6">
  <input type="checkbox" class="peer" />
  <div class="collapse-title bg-neutral text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content font-mona-sans">
    { Title ? <span>{Title}</span> : <span>Oculta/Muestra lo que hay dentro</span> }
  </div>
  <div class="collapse-content bg-neutral text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content">
    <slot/>
  </div>
</div>
