---
import SocialLinks from './about/SocialLinks.astro';
---

<div class='divider px-20 md:px-56 mb-8'></div>
<section class='flex flex-col w-full items-center justify-start gap-8 font-mona-sans px-6 md:px-48 mb-48'>
    <div class='flex items-center justify-start gap-8'>
        <h2 class='font-light uppercase text-sm w-28'>Diseñando la web del futuro hoy</h2>
        <div class='flex'>
            <p class='font-helvetica font-medium md:max-w-xl'>Soy un programador apasionado por el diseño innovador y de vanguardia. Mi objetivo es crear experiencias únicas y memorables que hagan que tus usuarios se enamoren de tu sitio web.</p>
        </div>
    </div>
    <div class='flex items-center justify-end w-full gap-2'>
        <SocialLinks />
    </div>
    <div class='flex items-center justify-end w-full gap-2 flex-wrap sm:flex-nowrap'>
        <a href='/about' class='btn btn-wide btn-outline'>Conoce más de mí</a>
        <a href='#' class='btn btn-outline'>Estoy viendo</a>
        <a href='mailto:bdiez19@gmail.com' target='_blank' rel='noopener noreferrer' class='btn btn-outline btn-success'>contratame</a>
    </div>
</section>
