---

---
<section class="w-full h-screen flex mt-20 flex-col items-center justify-center px-44 font-mona-sans">
    <h2 class="text-6xl font-extrabold uppercase w-full pb-8 border-b-[1px] border-b-white">Trabajemos Juntos</h2>
    <div class="flex items-start justify-between  w-full mt-12 [font-stretch:ultra-expanded]">
        <div class="flex items-center gap-x-16 w-full">
            <p class="text-xl font-bold uppercase">Correo</p>
            <a href="mailto:bdiez19@gmail.com" class="font-light text-lg">bdiez19@gmail.com</a>
        </div>
        <div class="flex items-start gap-x-16 w-full">
            <p class="text-xl font-bold uppercase">Redes Sociales</p>
            <ul class="flex flex-col font-light text-lg">
                <li class="">Github</li>
                <li class="">Linkedin</li>
                <li class="">Twitter</li>
            </ul>
        </div>
    </div>
</section>