---
const year = new Date().getFullYear()
---
<div class='text-neutral bg-base-content flex justify-start w-full mt-12 pt-4 pb-2 rounded-t-md max-w-full'>
    <footer class='flex items-center justify-between w-full px-2'>
        <div class='flex w-full'>
            <h2 class='text-4xl font-extralight [font-stretch:ultra-expanded] font-mona-sans'>© {year}</h2>
        </div>
        <div class='flex items-start justify-end gap-4 md:gap-16 uppercase font-mona-sans [font-stretch:ultra-expanded] text-xs'>
            <ul class='flex items-start justify-center flex-col gap-2'>
                <a href='/resume' target='_blank' rel='noopener noreferrer' class='hover:text-primary transition-all duration-300 ease-in-out'>Resume</a>
                <li class='hover:text-primary transition-all duration-300 ease-in-out'>Blog</li>
            </ul>
            <ul class='flex items-start justify-center flex-col gap-2'>
                <li class='hover:text-primary transition-all duration-300 ease-in-out'>Copyrights</li>
                <li class='hover:text-primary transition-all duration-300 ease-in-out'>FAQs</li>
            </ul>
        </div>
    </footer>
</div>
