---
import Menu from "./Menu.astro";
---
<style>
</style>
<header class='flex py-10'>
    <div class='flex items-center justify-between w-full px-8'>
        <a href='' class='text-2xl font-extralight font-mona-sans uppercase'>Linux Mobile</a>
		<div class='flex items-center justify-center gap-x-4'>
            <button
            type='button'
            id='themeChooser'
            class='text-md font-light font-mona-sans bg-slate-700/50 text-white/90 px-3 py-2 rounded-3xl'
            >Theme Mode</button>
            <div class="flex items-center justify-center">
                <div class="group flex h-10 w-10 cursor-pointer items-center justify-center rounded-full bg-white p-2 hover:bg-slate-200">
                    <div class="space-y-2" id="menutoggle">
                        <span class="block h-1 w-6 origin-center rounded-full bg-slate-900 transition-transform ease-in-out group-hover:translate-y-1.5 group-hover:rotate-45"></span>
                        <span class="block h-1 w-4 origin-center rounded-full bg-purple-600 transition-transform ease-in-out group-hover:w-6 group-hover:-translate-y-1.5 group-hover:-rotate-45"></span>
                    </div>
                </div>
            </div>
		</div>
	</div>
</header>
<Menu />
<script>
    const MENUTOGGLE = document.getElementById('menutoggle');
    const MENUSECTION = document.getElementById('menuSection');

    export const menuHandler = () => {
        MENUTOGGLE.addEventListener('click', () => {
            MENUSECTION.classList.toggle('hidden');
            MENUSECTION.classList.toggle('flex');
        })
    }

    menuHandler();
</script>
