---
import Menu from './Menu.astro'
---
<header class='flex py-10 w-full'>
	<div class='flex items-center justify-between w-full px-8'>
		<a href='' class='text-2xl font-extralight font-mona-sans uppercase z-[2]' id="logo">Linux Mobile</a>
		<div class='flex items-center justify-center gap-x-4'>
			<button
				type='button'
				id='themeChooser'
				class='text-md font-light font-mona-sans bg-slate-700/50 text-white/90 px-3 py-2 mr-10 rounded-3xl'
				>Theme Mode</button
			>
			<div class='flex items-center justify-center fixed right-3 z-[2]' id='menutoggle'>
				<div
					class='group flex h-10 w-10 cursor-pointer items-center justify-center rounded-full bg-white p-2 hover:bg-slate-200'>
					<div class='space-y-2'>
						<span
							class='block h-1 w-6 origin-center rounded-full bg-slate-900 transition-transform ease-in-out'
							id='span1'></span>
						<span
							class='block h-1 w-4 origin-center rounded-full bg-purple-600 transition-transform ease-in-out'
							id='span2'></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<Menu />
<script>
	import { menuHandler } from '@services/menu'
	menuHandler()
</script>
