---
import Nav from '@components/Nav.astro'
import MobileNav from './MobileNav.astro'
---

<header class='flex py-10 w-full'>
	<div class='flex items-center justify-between w-full'>
    <div class='hidden sm:flex'>
      <Nav />
    </div>
    <div class='flex sm:hidden'>
      <MobileNav />
    </div>
	</div>
</header>
