---

---

<header class='flex my-10 w-full'>
	<div class='flex items-center justify-between w-full px-4'>
		<div class='md:tooltip md:tooltip-right' data-tip='Mi nombre real es Braian. ¡Haz click para conocer más de mi!'>
			<a href='/about' class='text-2xl font-extralight font-mona-sans uppercase z-[2]' id='logo'>Linux Mobile</a>
		</div>
	</div>
</header>
