---
import Nav from '@components/Nav.astro'
---

<header class='flex py-10 w-full'>
	<div class='flex items-center justify-between sm:w-[75%] md:w-[85%] lg:w-[90%] px-4'>
    <Nav />
      <!-- <a href='mailto:bdiez19@gmail.com' class='flex flex-col font-mona-sans [font-stretch:ultra-expanded] uppercase text-xs font-bold h-fit w-fit btn btn-outline btn-success'>
        <span>Actualmente disponible</span>
        <span>para contratar</span>
      </a> -->
	</div>
</header>
