---
---

<section class='w-full pt-24'>
	<div class='flex overflow-x-hidden relative'>
		<div class='animate-marquee whitespace-nowrap'>
			<h1 class='text-[25rem] font-porlane uppercase mx-4 leading-none'>
				programador frontend &&nbsp;creador digital &
			</h1>
		</div>
		<div class='absolute top-0 animate-marquee2 whitespace-nowrap'>
			<h1 class='text-[25rem] font-porlane uppercase mx-4 leading-none'>
                programador frontend &&nbsp;creador digital &
			</h1>
		</div>
	</div>
</section>
