---
---

<section class='w-full py-14 md:mt-14 md:mb-44 2xl:mx-auto 2xl:max-w-7xl'>
  <div class='flex flex-col items-center justify-center w-full md:px-16 gap-8'>
    <h1 class='lg:text-9xl font-mona-sans font-black [font-stretch:ultra-expanded] leading-none'>Creative Developer</h1>
    <figure class='flex flex-col items-start justify-start w-full my-10'>
      <img src='/baires.webp' alt='Buenos Aires Picture' class='md:w-[38rem] md:h-[15rem] object-cover rounded-sm'>
      <label class="label">
        <span class="label-text-alt text-base-content/40">Buenos Aires</span>
      </label>
    </figure>
    <div class='flex flex-col items-end justify-center w-full'>
      <h2 class='lg:text-9xl font-mona-sans font-black [font-stretch:ultra-expanded] leading-none'>LinuDev</h2>
      <span class='font-mona-sans text-lg font-medium text-base-content/50'>Braian A. Diez</span>
    </div>
  </div>
	<!-- <div class='flex overflow-x-hidden relative'>
		<div class='animate-marquee whitespace-nowrap'>
			<h1 class='text-[13rem] lg:text-[25rem] font-porlane uppercase mx-4 leading-none'>
				programador frontend &&nbsp;creador digital &
			</h1>
		</div>
		<div class='absolute top-0 animate-marquee2 whitespace-nowrap'>
			<h1 class='text-[13rem] lg:text-[25rem] font-porlane uppercase mx-4 leading-none'>
                programador frontend &&nbsp;creador digital &
			</h1>
		</div>
	</div> -->
</section>
