---
---

<section class='w-full py-14'>
  <div class='flex flex-col items-center justify-center w-full gap-1 sm:gap-8'>
    <h1 class='w-full text-4xl sm:text-6xl lg:text-8xl font-mona-sans font-black [font-stretch:ultra-expanded] leading-none'>Creative Developer</h1>
    <div class='grid grid-cols-2 items-end my-2 sm:my-10 w-full justify-between'>
      <figure class='flex flex-col items-start justify-center w-full gap-y-2'>
        <img src='/baires.webp' alt='Buenos Aires Picture' class='md:w-[26rem] md:h-[13rem] object-cover rounded-sm'>
        <span class="text-text/40 text-xs">Buenos Aires</span>
      </figure>
      <div class='flex flex-col items-end justify-center w-full'>
        <h2 class='text-4xl sm:text-6xl lg:text-8xl font-mona-sans font-black [font-stretch:ultra-expanded] leading-none'>LinuDev</h2>
        <span class='font-mona-sans text-md font-medium text-text/40'>Braian A. Diez</span>
      </div>
    </div>
  </div>
</section>
