---

---
<section class="flex px-6">
    <div class="flex overflow-x-hidden relative">
        <div class="animate-marquee whitespace-nowrap">
            <h1 class="text-[20rem] font-extrabold font-porlane uppercase leading-none">programador frontend & creador digital </h1>
        </div>
        <div class="absolute top-0 animate-marquee2 whitespace-nowrap ml-20">
            <h1 class="text-[20rem] font-extrabold font-porlane uppercase leading-none">programador frontend & creador digital </h1>
        </div>
    </div>
</section>