---
import SocialLinks from './about/SocialLinks.astro'

const year = new Date().getFullYear()
---
	<section class='bg-base-content w-full h-full fixed top-0 z-[1] hidden flex-col overflow-hidden' id='menuSection'>
		<div class='flex items-center justify-center w-full h-[90%] shadow-2xl shadow-slate-900/30 fixed z-[2] bg-base-content'>
			<article class='text-primary flex flex-col md:flex-row-reverse items-center md:items-end justify-between md:px-12 rounded-xl w-full h-full px-4'>
				<ul class='flex flex-col items-start md:items-end justify-center text-6xl md:text-[7rem] tracking-tight leading-none lowercase font-antique-olive font-black w-full pt-36 md:pt-8 gap-y-6 md:gap-y-2'>
					<li class=''><a href='/' class='hover:text-neutral transition-all duration-300 ease-in-out'>Inicio</a></li>
					<li class=''><a href='/#project' class='hover:text-neutral transition-all duration-300 ease-in-out'>Proyectos</a></li>
					<li class=''><a href='/blog' class='hover:text-neutral transition-all duration-300 ease-in-out'>Blog</a></li>
					<li class=''><a href='/#contact' class='hover:text-neutral transition-all duration-300 ease-in-out'>Contacto</a></li>
				</ul>
				<ul class='flex items-center justify-center gap-4 pb-10 md:pb-6'>
					<SocialLinks />
				</ul>
			</article>
		</div>
		<div class='text-[#606887] flex justify-start h-[10%] w-full z-[1] absolute bottom-0 px-2 md:px-12'>
			<footer class='flex items-center justify-between w-full'>
				<div class='w-full relative'>
					<h2 class='text-4xl md:text-[13rem] font-mona-sans'>© {year}</h2>
				</div>
				<div class='flex items-start justify-end md:gap-16 uppercase font-mona-sans text-xs'>
					<ul class='flex items-start justify-center flex-col gap-2'>
						<li><a href='/resume' target='_blank' rel='noopener noreferrer' class='hover:text-neutral transition-all duration-300 ease-in-out'>Resume</a></li>
						<li class='hover:text-neutral transition-all duration-300 ease-in-out'>Blog</li>
					</ul>
					<ul class='flex items-start justify-center flex-col gap-2'>
						<li class='hover:text-neutral transition-all duration-300 ease-in-out'>Copyrights</li>
						<li class='hover:text-neutral transition-all duration-300 ease-in-out'>FAQs</li>
					</ul>
				</div>
			</footer>
		</div>
	</section>
