---
import NavIcon from './NavIcon.astro'

const links = [
  {
    href: '/',
    text: 'Home',
    icon: 'home-2-bold'
  },
  {
    href: '/blog',
    text: 'Blog',
    icon: 'chat-square-like-bold'
  },
  {
    href: '/projects',
    text: 'Projects',
    icon: 'programming-bold'
  },
  {
    href: '/about',
    text: 'About',
    icon: 'user-circle-bold'
  },
  {
    href: '#',
    text: 'More',
    icon: 'add-square-bold'
  }
]
---
<!-- <nav class='flex items-center justify-center w-full fixed top-6 z-20 transition-all ease-in-out duration-500'>
  <ul class='navbar bg-gray-950/40 rounded-box backdrop-blur-md ring-1 ring-gray-950/80 shadow-lg max-w-xs'>
    <div class='navbar-start'>
      <div class='dropdown'>
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 gap-2">
          {
            links.map((link) => (
              <li>
                <a href={link.href} class='flex items-center justify-start text-center ease-in-out duration-500'>
                  <NavIcon IconName={link.icon} />
                  <span class='font-semibold font-mona-sans text-md'>{link.text}</a>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </ul>
</nav> -->
