---
const links = [
  {
    href: '/',
    text: 'Home',
    icon: 'home-2-bold'
  },
  {
    href: '/blog',
    text: 'Blog',
    icon: 'chat-square-like-bold'
  },
  {
    href: '/projects',
    text: 'Projects',
    icon: 'programming-bold'
  },
  {
    href: '/about',
    text: 'About',
    icon: 'user-circle-bold'
  },
  {
    href: '#',
    text: 'More',
    icon: 'add-square-bold'
  }
]

---
<nav class='flex items-center justify-center w-full fixed left-0 top-6 z-20 transition-all ease-in-out duration-500'>
  <ul class='flex justify-center items-center bg-surface/70 rounded-full backdrop-blur-md ring-1 ring-surface shadow-lg px-4 py-2 gap-x-8'>
    {
      links.map((link) => (
        <li>
          <a href={link.href} class='ease-in-out duration-500 uppercase'>
            <span class='font-semibold font-mona-sans text-sm'>{link.text}</a>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
