---
const links = [
  {
    href: '/',
    text: 'Home',
    icon: 'home-2-bold'
  },
  {
    href: '/blog',
    text: 'Blog',
    icon: 'chat-square-like-bold'
  },
  {
    href: '/about',
    text: 'About',
    icon: 'user-circle-bold'
  },
  // {
  //   href: '#contact',
  //   text: 'Contact',
  //   icon: 'programming-bold'
  // },
  {
    href: '#',
    text: 'More',
    icon: 'add-square-bold'
  }
]

---
<nav class='flex items-center justify-center w-full fixed left-0 top-6 z-20'>
  <ul class='flex justify-center items-center bg-surface/70 rounded-full backdrop-blur-md ring-2 ring-iris/10 px-4 py-1 gap-x-4 shadow-iris/10 shadow-xl'>
    {
      links.map((link) => (
        <li class='bg-transparent hover:bg-muted/20 px-2 py-1 rounded-md transition-all ease-in-out duration-500'>
          <a href={link.href} class='ease-in-out duration-500 uppercase'>
            <span class='font-semibold font-mona-sans text-sm'>{link.text}</a>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
