---

---
<div class=''>
			<svg
				class='pointer-events-none fixed isolate z-50 opacity-70 mix-blend-soft-light [height:100lvh] w-full'
				><filter id='pedroduarteisalegend'
					><feTurbulence
						type='fractalNoise'
						baseFrequency='0.80'
						numOctaves='4'
						stitchTiles='stitch'></feTurbulence></filter
				><rect width='100%' height='100%' filter='url(#pedroduarteisalegend)'></rect></svg
			>
			<div class='pointer-events-none absolute z-10 inset-0 [height:100svh] flex items-center justify-center'>
			  <div class='w-56 h-56 bg-love/5 blur-[100px] absolute left-28 top-56' />
			  <div class='w-64 h-64 bg-gold/5 blur-[100px] absolute right-28 top-64' />
			</div>
		</div>
