---

---
<div>
			<svg
				class='pointer-events-none fixed isolate z-50 opacity-70 mix-blend-soft-light [height:100dvh]'
				width='100%'
				height='100%'
				><filter id='pedroduarteisalegend'
					><feTurbulence
						type='fractalNoise'
						baseFrequency='0.80'
						numOctaves='4'
						stitchTiles='stitch'></feTurbulence></filter
				><rect width='100%' height='100%' filter='url(#pedroduarteisalegend)'></rect></svg
			>
			<div
				class='pointer-events-none fixed top-6 z-30 grid w-full grid-cols-[1fr,min(640px,100%),1fr] px-4'
			>
			</div>
			<div class='pointer-events-none fixed inset-0 overflow-hidden z-10 [height:100dvh]'>
				<div
					class="h-full bg-[url('https://res.cloudinary.com/delba/image/upload/h_500/bg_gradient_pfosr9')] bg-cover bg-top bg-no-repeat opacity-[0.3] will-change-transform"
					style='transform:translateY(0px)'
				>
				</div>
			</div>
		</div>
