---
---

<section class='w-full h-full flex flex-col items-center justify-center my-16 px-12'>
	<h2 class='text-9xl font-mona-sans [font-stretch:ultra-expanded] font-bold w-full'>Projects</h2>
    <div class="divider"></div>
	<main class='w-full my-36 flex-col items-center justify-center flex gap-32'>
		<article class='flex items-end justify-between w-full gap-x-6 grayscale transition-all duration-500 blur-sm hover:filter-none'>
			<h3 class='font-mona-sans [font-stretch:ultra-expanded] font-medium text-6xl'>LiNews</h3>
			<div class='w-full border-b-[1px] border-b-accent'></div>
			<img src='/linews.webp' alt='Captura de pantalla del proyecto LiNews' class='aspect-video max-w-md rounded-3xl drop-shadow-2xl' />
			<div class='w-full border-b-[1px] border-b-accent'></div>
		</article>
		<article class='flex items-end justify-between w-full gap-x-6 grayscale transition-all duration-500 blur-sm hover:filter-none'>
			<div class='w-full border-b-[1px] border-b-accent'></div>
			<img src='/prr.webp' alt='Captura de pantalla del proyecto LiNews' class='aspect-video max-w-md rounded-3xl drop-shadow-2xl object-cover' />
			<div class='w-full border-b-[1px] border-b-accent'></div>
			<h3 class='font-mona-sans [font-stretch:ultra-expanded] font-medium text-6xl'>PrrR!</h3>
            <div class='w-full border-b-[1px] border-b-accent'></div>
		</article>
		<article class='flex items-end justify-between w-full gap-x-6 grayscale transition-all duration-500 blur-sm hover:filter-none'>
			<div class='w-full border-b-[1px] border-b-accent'></div>
			<h3 class='font-mona-sans [font-stretch:ultra-expanded] font-medium text-6xl'>LinuDev</h3>
            <div class='w-full border-b-[1px] border-b-accent'></div>
			<img src='/linudev.webp' alt='Captura de pantalla del proyecto LiNews' class='aspect-video max-w-md rounded-3xl drop-shadow-2xl' />
			<div class='w-full border-b-[1px] border-b-accent'></div>
		</article>
	</main>
</section>
