---
---

<section class='w-full h-full flex flex-col items-center justify-center my-8 px-6 md:px-48'>
	<h2 class='text-4xl md:text-6xl lg:text-8xl xl:text-9xl font-mona-sans [font-stretch:ultra-expanded] font-bold w-full'>Trabajos Seleccionados</h2>
    <div class="divider"></div>
</section>
<main class='w-full mb-20 flex flex-col items-center justify-center gap-8 md:px-6' data-theme='dark'>
	<article class='h-screen bg-[url(/linews.webp)] bg-fixed bg-auto bg-center w-full'>
		<div class='backdrop-blur-sm backdrop-brightness-75 w-full h-full flex items-start justify-between flex-col'>
			<div class='p-4 flex gap-2'>
				<div class='badge badge-lg badge-outline text-orange-500'>Astro</div>
				<div class='badge badge-lg badge-outline text-cyan-500'>Tailwind</div>
				<div class='badge badge-lg badge-outline text-yellow-500'>Javascript</div>
			</div>
			<div class='w-full h-full flex flex-col items-center justify-center font-mona-sans'>
				<h3 class='text-7xl md:text-9xl font-black [font-stretch:ultra-expanded]'>LiNEWS</h3>
				<div class='divider px-20'></div>
				<p class='text-xl font-light max-w-xs'>Portal de noticias creado como ejercicio final de Javascript.</p>
			</div>
		</div>
	</article>
	<article class='h-screen bg-[url(/prr.webp)] bg-fixed bg-auto bg-center w-full'>
		<div class='backdrop-blur-sm backdrop-brightness-75 w-full h-full flex items-start justify-between flex-col'>
			<div class='p-4 flex gap-2'>
				<div class='badge badge-lg badge-outline text-red-500'>HTML</div>
				<div class='badge badge-lg badge-outline text-cyan-600'>CSS</div>
			</div>
			<div class='w-full h-full flex flex-col items-center justify-center font-mona-sans'>
				<h3 class='text-7xl md:text-9xl font-black [font-stretch:ultra-expanded]'>PrrR!</h3>
				<div class='divider px-20'></div>
				<p class='text-xl font-light max-w-xs'>Landing Page realizada para un Coffee Store de la zona.</p>
			</div>
		</div>
	</article>
	<article class='h-screen bg-[url(/linudev.webp)] bg-fixed bg-auto bg-center w-full'>
		<div class='backdrop-blur-sm backdrop-brightness-75 w-full h-full flex items-start justify-between flex-col'>
			<div class='p-4 flex gap-2'>
				<div class='badge badge-lg badge-outline text-orange-500'>Astro</div>
				<div class='badge badge-lg badge-outline text-cyan-500'>Tailwind</div>
				<div class='badge badge-lg badge-outline text-yellow-500'>Javascript</div>
			</div>
			<div class='w-full h-full flex flex-col items-center justify-center font-mona-sans'>
				<h3 class='text-7xl md:text-9xl font-black [font-stretch:ultra-expanded]'>LinuDEV</h3>
				<div class='divider px-20'></div>
				<p class='text-xl font-light max-w-xs'>Portfolio personal. (Desaparecerá al agregar el siguiente proyecto. Está provisorio).</p>
			</div>
		</div>
	</article>
	<div class='flex w-full items-center justify-end px-6'>
		<a href='#' class='btn btn-outline btn-secondary'>Todos los Proyectos</a>
	</div>
</main>
