---
---

<div class='utterance-container mb-64'></div>
<script>
	const script = document.createElement('script')
	const container = document.querySelector('.utterance-container')
	const currentTheme = localStorage.getItem('theme')

	Object.entries({
		src: 'https://utteranc.es/client.js',
		repo: 'linuxmobile/linu.dev',
		'issue-term': 'title',
		theme: currentTheme === 'dark' ? 'dark-blue' : 'boxy-light',
		crossorigin: 'anonymous'
	}).forEach(([key, value]) => {
		script.setAttribute(key, value)
	})

	container.appendChild(script)

	function toggleUtterancesTheme() {
		if (document.querySelector('.utterances-frame')) {
			const theme = localStorage.getItem('theme') === 'light' ? 'boxy-light' : 'dark-blue'
			const message = {
				type: 'set-theme',
				theme
			}
			const iframe = document.querySelector('.utterances-frame') as HTMLIFrameElement // omit as HTMLIFrameElement if you're wring JS
			iframe?.contentWindow?.postMessage(message, 'https://utteranc.es')
		}
	}

	themeselector?.addEventListener('click', function () {
		// toggle light/dark mode
		if (document.documentElement.getAttribute('data-theme') === 'dark') {
			localStorage.setItem('theme', 'light')
		} else {
			localStorage.setItem('theme', 'dark')
		}
		toggleUtterancesTheme()
	})
</script>
