---
---

<div class='utterance-container'></div>
<script>
	const script = document.createElement('script')
	const container = document.querySelector('.utterance-container')
	const currentTheme = localStorage.getItem('theme')

	Object.entries({
		src: 'https://utteranc.es/client.js',
		repo: 'linuxmobile/linudev-comments',
		'issue-term': 'title',
		theme: 'dark-blue',
		crossorigin: 'anonymous'
	}).forEach(([key, value]) => {
		script.setAttribute(key, value)
	})

	container.appendChild(script)

	</script>
