---
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf()
);

const index = posts.findIndex((post) => {
  return Astro.request.url.includes(post.slug);
});

const nextPost = posts[index + 1];
const prevPost = posts[index - 1];
---

<section class='flex w-full mx-auto pt-4'>
  <div class="grid grid-cols-2 w-full gap-4 items-center justify-center max-w-4xl">
  {
    prevPost && (
      <a
        href={`/blog/${prevPost.slug}/`}
        class='text-sm p-4 rounded-lg border border-rose hover:border-rose/70 hover:border-opacity-100 transition-all hover:bg-love/5'
      >
        <p class='text-text mb-1'>
          &larr; Previous post
        </p>
        <p class='font-semibold'>
          {prevPost.data.title}
        </p>
      </a>
    )
  }
  {
    nextPost && (
      <a
        href={`/blog/${nextPost.slug}/`}
        class="text-sm p-4 rounded-lg border border-rose hover:border-rose/70 hover:border-opacity-100 transition-all hover:bg-love/5"
      >
        <p class="mb-1">
          Next post &rarr;
        </p>
        <p class="font-semibold">
          {nextPost.data.title}
        </p>
      </a>
    )
  }

  </div>
</section>
