---
import Noise from '@components/Noise.astro'
import Head from '@components/Head.astro'
import Header from '@components/Header.astro'

interface Props {
	title: string;
	description: string;
	ogImage?: {
		src: string;
		alt: string;
	};
	publishDate?: Date;
}

const {
	title,
	description,
	ogImage = {
		src: '/assets/og-image.png',
		alt: 'Astro',
	},
	publishDate = new Date(),
} = Astro.props

---

<!DOCTYPE html>
<html
	lang='en'
	class='scrollbar-thin scrollbar-thumb-primary scrollbar-track-base-100 scrollbar-thumb-rounded-md scroll-smooth overflow-x-hidden'>
	<Head 
		title={title}
		description={description}
		ogImage={ogImage}
		publishDate={publishDate}
	/>
	<body class='bg-base'>
    <Noise />
    <div class='relative z-20'>
		  <Header />
		  <slot />
    </div>
	</body>
</html>
