---
import Noise from '@components/Noise.astro'
import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import Menu from '@components/Menu.astro'
import MenuButton from '@components/MenuButton.astro'

interface Props {
	title: string;
	description: string;
	ogImage?: {
		src: string;
		alt: string;
	};
	publishDate?: Date;
}

const {
	title,
	description,
	ogImage = {
		src: '/assets/og-image.png',
		alt: 'Astro',
	},
	publishDate = new Date(),
} = Astro.props

---

<!DOCTYPE html>
<html
	lang='en'
	class='scrollbar-thin scrollbar-thumb-accent scrollbar-track-base-100 scrollbar-thumb-rounded-md scroll-smooth overflow-x-hidden'>
	<Head 
		title={title}
		description={description}
		ogImage={ogImage}
		publishDate={publishDate}
	/>
	<body class='bg-primary text-primary-content'>
    <Noise />
    <div class='relative z-20'>
		  <Menu />	
		  <MenuButton />
		  <Header />
		  <slot />
		  <Footer />
    </div>
		<script is:inline>
			// ☝️ This script prevent the FART effect.
			if (localStorage.getItem('theme') === null) {
				document.documentElement.setAttribute('data-theme', 'dark')
			} else document.documentElement.setAttribute('data-theme', localStorage.getItem('theme'))
			// 'theme' LocalStorage value is set by the package to remember user preference.
			// The value is checked and applyed before rendering anything.
		</script>
		<script>
			import { themeChange } from 'theme-change'
			themeChange()
			// 👆 you could import the CDN directly instead of these two lines
		</script>
	</body>
</html>
